<!DOCTYPE html>
<html>

<head>
    <!-- jQuery 연결 -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>모임계좌페이지</title>
    </script>
    <link rel="stylesheet" type="text/css" href="../static/css/group.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <!-- 페이지 -->
    <div class="center">
        <div class="page">
            <!--고정 상단바-->
            <div class="head-bar">
                <a href=""><img id="icon1" src="../static/img/list.png" alt=""></a>
                <a href=""><img id="logo" src="../static/img/로고화이트.png" alt=""></a>
                <a href=""><img id="icon2" src="../static/img/bell.png" alt=""></a>
            </div>
            <div class="group-thumbnail">
                <span id="name">{{group.title}}</span>
                <!-- <span id="group">&nbsp모임</span> -->
                <div class="group-members">
                    {% for member in group.members.all%}
                    {% if not member.image%}
                    <div class="one-member">
                        <img id="thumbnail" src="../static/img/basic.png" alt="">
                        <p id="nickname">{{member.nickname}}</p>
                    </div>
                    {% else %}
                    <div id="one-member">
                        <img id="thumbnail" src="{{member.image.url}}" alt="">
                        <p id="nickname">{{member.nickname}}</p>
                    </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>
            <div class="schedule-scroll">
                {% for s in schedules.all %}
                <div class="schedule">
                    <span id="schedule-name">{{s.title}}</span>
                    <span id="schedule-date">{{s.date.year}}년 {{s.date.month}}월 {{s.date.day}}일</span>
                    <span id="schedule-money">{{s.penalty}}원</span>
                </div>
                {% endfor %}
            </div>

            <!-- 누르면 모달창 띄우기 -->
            <div class="schedule-plus">
                <a href="{% url 'newSche' group.id %}">
                    <img id="plus" src="../static/img/plus.png" alt="">
                </a>
            </div>
            <br>
            <div class="account">
                <div class="account-name">
                    <span id="group-name">{{group.title}}</span>
                    <!-- <span id="account-group">모임의</span> -->
                    <span id="time-account">타임계좌</span>
                    <br>
                    <span id="account-money">{{group.group_money}}원</span>
                </div>
            </div>
            <div class="account-content">
                {% for history in histories.all%}
                <div class="member-content">
                    <span id="member-date">{{history.date.month}}.{{history.date.day}}</span>
                    <span id="member-name">{{history.us}}({{history.name}} 지각비)</span>
                    <span id="member-money">{{history.money}}원</span>
                </div>
                {% endfor %}
            </div>
            <!-- 하단 고정바 -->
            <div class="foot-bar">
                <a href="{% url 'home' %}"><img id="foot-home" src="../static/img/home.png" alt=""></a>
                <a href="{% url 'check' %}"><img id="foot-invite" src="../static/img/invite.png" alt=""></a>
                <a href="{% url 'map' %}"><img id="foot-bell" src="../static/img/bell.png" alt=""></a>
                <a href="{% url 'portfolio' %}"><img id="foot-user" src="../static/img/user.png" alt=""></a>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <textarea class="modal-title" id="exampleModalCenterTitle"
                            style="resize: none; width:29rem; height:2rem" placeholder="약속 이름"></textarea>
                        <textarea class="modal-title" id="exampleModalCenterTitle"
                            style="resize: none; width:29rem; height:2rem" placeholder="약속 시간"></textarea>
                        <textarea class="modal-title" id="exampleModalCenterTitle"
                            style="resize: none; width:29rem; height:2rem" placeholder="지각비"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">스케줄 추가하기</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




</html>